<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Student_GUI.Properties.Settings.QLHVConnectionString" connectionString="Data Source=.;Initial Catalog=QLHV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLHV" connectionString="data source=.;initial catalog=QLHV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;12</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="214,219,233" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="207,214,229" />
                <SvgColor Name="Paint Deep Shadow" Value="187,194,212" />
                <SvgColor Name="Brush" Value="27,41,62" />
                <SvgColor Name="Brush Light" Value="98,100,107" />
                <SvgColor Name="Brush High" Value="0,0,0" />
                <SvgColor Name="Brush Major" Value="133,145,162" />
                <SvgColor Name="Brush Minor" Value="189,196,209" />
                <SvgColor Name="Accent Paint" Value="77,96,130" />
                <SvgColor Name="Accent Paint Light" Value="253,244,191" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="186,170,109" />
                <SvgColor Name="Key Paint" Value="41,57,85" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="95,107,128" />
                <SvgColor Name="Red" Value="157,36,12" />
                <SvgColor Name="Green" Value="54,134,50" />
                <SvgColor Name="Blue" Value="0,80,152" />
                <SvgColor Name="Yellow" Value="189,120,25" />
                <SvgColor Name="Black" Value="64,64,64" />
                <SvgColor Name="Gray" Value="195,195,198" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="157,36,12" />
                <SvgColor Name="altGreen" Value="54,134,50" />
                <SvgColor Name="altBlue" Value="0,80,152" />
                <SvgColor Name="altYellow" Value="189,120,25" />
                <SvgColor Name="altBlack" Value="64,64,64" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>