<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Student_GUI.Properties.Settings.QLHVConnectionString" connectionString="Data Source=.;Initial Catalog=QLHV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLHV" connectionString="data source=.;initial catalog=QLHV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>CompactSkin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #3</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;12</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="214,219,233" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="207,214,229" />
                <SvgColor Name="Paint Deep Shadow" Value="187,194,212" />
                <SvgColor Name="Brush" Value="27,41,62" />
                <SvgColor Name="Brush Light" Value="98,100,107" />
                <SvgColor Name="Brush High" Value="0,0,0" />
                <SvgColor Name="Brush Major" Value="133,145,162" />
                <SvgColor Name="Brush Minor" Value="189,196,209" />
                <SvgColor Name="Accent Paint" Value="77,96,130" />
                <SvgColor Name="Accent Paint Light" Value="253,244,191" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="186,170,109" />
                <SvgColor Name="Key Paint" Value="41,57,85" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="95,107,128" />
                <SvgColor Name="Red" Value="157,36,12" />
                <SvgColor Name="Green" Value="54,134,50" />
                <SvgColor Name="Blue" Value="0,80,152" />
                <SvgColor Name="Yellow" Value="189,120,25" />
                <SvgColor Name="Black" Value="64,64,64" />
                <SvgColor Name="Gray" Value="195,195,198" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="157,36,12" />
                <SvgColor Name="altGreen" Value="54,134,50" />
                <SvgColor Name="altBlue" Value="0,80,152" />
                <SvgColor Name="altYellow" Value="189,120,25" />
                <SvgColor Name="altBlack" Value="64,64,64" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="WXI">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="White" />
                <SvgColor Name="Background 100" Value="244,244,244" />
                <SvgColor Name="Background 0" Value="232,232,232" />
                <SvgColor Name="Background -100" Value="219,219,219" />
                <SvgColor Name="Background -200" Value="211,211,211" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="144,144,144" />
                <SvgColor Name="Foreground 25" Value="240,0,0" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="232,232,232" />
                <SvgColor Name="Edit Background -100" Value="215,236,255" />
                <SvgColor Name="Edit Background -200" Value="196,227,253" />
                <SvgColor Name="Edit Foreground 100" Value="36,36,36" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="180,180,180" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="84,84,84" />
                <SvgColor Name="Line 50" Value="160,160,160" />
                <SvgColor Name="Line 25" Value="202,202,202" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#3C3C3C" />
                    <stop offset="10%" stop-color="#CACACA" />
                    <stop offset="100%" stop-color="#CACACA" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#989898" />
                    <stop offset="10%" stop-color="#CACACA" />
                    <stop offset="100%" stop-color="#CACACA" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="186,224,255" />
                <SvgColor Name="Primary Background 0" Value="0,103,192" />
                <SvgColor Name="Primary Background -100" Value="1,92,170" />
                <SvgColor Name="Primary Background -200" Value="0,84,158" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="109,166,225" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="0,103,192" />
                <SvgColor Name="Secondary Background -100" Value="1,92,170" />
                <SvgColor Name="Secondary Background -200" Value="0,84,158" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="231,72,86" />
                <SvgColor Name="Green" Value="1,133,116" />
                <SvgColor Name="Blue" Value="0,120,212" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="180,180,180" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Background 200" Value="78,78,78" />
                <SvgColor Name="Background 100" Value="60,60,60" />
                <SvgColor Name="Background 0" Value="201,222,245" />
                <SvgColor Name="Background -100" Value="86,86,86" />
                <SvgColor Name="Background -200" Value="96,96,96" />
                <SvgColor Name="Foreground 100" Value="255,255,255" />
                <SvgColor Name="Foreground 50" Value="160,160,160" />
                <SvgColor Name="Foreground 25" Value="Gray" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="96,96,96" />
                <SvgColor Name="Edit Background -50" Value="86,86,86" />
                <SvgColor Name="Edit Background -100" Value="120,120,120" />
                <SvgColor Name="Edit Background -200" Value="132,132,132" />
                <SvgColor Name="Edit Foreground 100" Value="White" />
                <SvgColor Name="Edit Foreground 50" Value="176,176,176" />
                <SvgColor Name="Edit Foreground 25" Value="144,144,144" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="32,32,32" />
                <SvgColor Name="Line 50" Value="32,32,32" />
                <SvgColor Name="Line 25" Value="40,40,40" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#202020" />
                    <stop offset="10%" stop-color="#282828" />
                    <stop offset="100%" stop-color="#282828" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#202020" />
                    <stop offset="10%" stop-color="#282828" />
                    <stop offset="100%" stop-color="#282828" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="255,194,26" />
                <SvgColor Name="Primary Background 0" Value="255,194,26" />
                <SvgColor Name="Primary Background -100" Value="250,186,10" />
                <SvgColor Name="Primary Background -200" Value="237,176,9" />
                <SvgColor Name="Primary Foreground 100" Value="46,46,46" />
                <SvgColor Name="Primary Foreground 25" Value="173,113,2" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="46,46,46" />
                <SvgColor Name="Secondary Background -100" Value="86,86,86" />
                <SvgColor Name="Secondary Background -200" Value="96,96,96" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="Gray" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="255,107,107" />
                <SvgColor Name="Green" Value="0,204,106" />
                <SvgColor Name="Blue" Value="53,160,242" />
                <SvgColor Name="Yellow" Value="255,185,0" />
                <SvgColor Name="Black" Value="244,244,244" />
                <SvgColor Name="Gray" Value="Gray" />
                <SvgColor Name="White" Value="46,46,46" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #3">
                <SvgColor Name="Background 200" Value="255,255,255" />
                <SvgColor Name="Background 100" Value="244,244,244" />
                <SvgColor Name="Background 0" Value="255,239,214" />
                <SvgColor Name="Background -100" Value="219,219,219" />
                <SvgColor Name="Background -200" Value="211,211,211" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="144,144,144" />
                <SvgColor Name="Foreground 25" Value="180,180,180" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="232,232,232" />
                <SvgColor Name="Edit Background -100" Value="84,186,185" />
                <SvgColor Name="Edit Background -200" Value="84,186,185" />
                <SvgColor Name="Edit Foreground 100" Value="36,36,36" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="180,180,180" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="84,84,84" />
                <SvgColor Name="Line 50" Value="160,160,160" />
                <SvgColor Name="Line 25" Value="202,202,202" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#3C3C3C" />
                    <stop offset="10%" stop-color="#CACACA" />
                    <stop offset="100%" stop-color="#CACACA" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#989898" />
                    <stop offset="10%" stop-color="#CACACA" />
                    <stop offset="100%" stop-color="#CACACA" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="186,224,255" />
                <SvgColor Name="Primary Background 0" Value="140,192,222" />
                <SvgColor Name="Primary Background -100" Value="1,92,170" />
                <SvgColor Name="Primary Background -200" Value="140,192,222" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="109,166,225" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="148,180,159" />
                <SvgColor Name="Secondary Background -100" Value="140,192,222" />
                <SvgColor Name="Secondary Background -200" Value="140,192,222" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="231,72,86" />
                <SvgColor Name="Green" Value="1,133,116" />
                <SvgColor Name="Blue" Value="0,120,212" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="180,180,180" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>